* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    top: 0;
    background-color: #425b69;
    position: sticky;
    z-index: 100;
}

button {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  filter: brightness(0.85);
}

button img {
  height: 32px;
  width: 32px;
  display: block;
  margin: 0 auto;
}